
<!DOCTYPE html>
<th:block th:insert="~{aaa_fragments/components :: html}"></th:block>
<head>
	
	<th:block th:insert="~{aaa_fragments/components :: head}"></th:block>
	<title>LOGIN</title>

</head>
<body>
	<h1 class="text-center">Esto es la pagina del LOGIN</h1>
	
	<div class="form-group">
		<h1 class="titlee">Login</h1>
	</div>
		
	 <form action="#" th:action="@{/login}" th:object="${datos_introducidos}" method="post">
	       <div class="form-group">
	        <label for="username">Username</label>
	        <input type="text" class="form-control" id="username" name="username" autocomplete="new-password" required
	               placeholder="Enter username">
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required
	               autocomplete="new-password">
	    </div>
			<input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In"/>
		</div>
	</form>

 	<form action="#" th:action="@{/register2}">
		<input type="submit" class="btn btn-primary btn-block btn-lg" value="Register"/>
	</form>
	
	<footer>
		<div class="pruebas">
			<br>

			<p>Valor del atributo pasado del modelo del controlador: 
				<span th:text="${nombreEnControlador}"></span></p>

			<p> Valor desde database (ModeloRepartidor): 
				<span th:text="${Numero_de_objetos_database}"></span>
			</p>

		</div>
	</footer>
</body>
</html>
