
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{css/normalize.css}">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
</head>
<body>
	<h1 class="text-center">Esto es la pagina del LOGIN</h1>
		<div class="form-group">
			<h1 class="titlee">Login</h1>
		</div>
		
	   <form action="#" th:action="@{/login}" th:object="${datos_introducidos}" method="post">
	       <div class="form-group">
	        <label for="username">Username</label>
	        <input type="text" class="form-control" id="username" name="username" autocomplete="new-password" required
	               placeholder="Enter username">
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required
	               autocomplete="new-password">
	    </div>
	
	    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In"/>
	</form>


	<footer>
		<div class="pruebas">
			<br>

			<p>Valor del atributo pasado del modelo del controlador: 
				<span th:text="${nombreEnControlador}"></span></p>

			<p> Valor desde database (ModeloRepartidor): 
				<span th:text="${Numero_de_objetos_database}"></span>
			</p>

		</div>
	</footer>
</body>
</html>
