<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">


<head> 
    <title>Ver quejas del pedido</title> 
</head>
	
<body class="container mt-5">

    <p th:text="'EL CLIENTE se queja desde esta ventana'" />
    
    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    	
    </header>
    
       
   
   <section layout:fragment="custom-content" class="document__content">

			<h1>Ver pedido</h1>
			 <table class="tabla__pedidos">
			   <thead>
                    <tr>
                        <td>Nombre Producto</td>
                        <td>Cantidad</td>
                        <td>Precio base</td>
                        <td>Descuento</td>
                    </tr>
                </thead>
                <tbody>
               		<tr th:each="linea : ${pedido.listaLineas}" class="pedido">
                     <td th:text="${linea.producto.nombre}"></td> 
                     <td th:text="${linea.candidad}"></td> 
                     <td th:text="${linea.producto.precio_producto}"></td> 
                     <td th:text="${linea.producto.descuento}"></td> 
                	</tr>
                </tbody>
            </table>


		    <div>
                <label for="precio">Precio Total: </label>
                <input id="precio" type="text" th:value="${pedido.precio_total}" readonly="readonly">
            </div>
		
		
			<div class="form-group">
			 	<label for="observaciones">Observaciones: </label>

				<textarea id="observaciones"
				          rows="5" cols="33" name="observaciones" 
				          th:text=${pedido.observaciones} readonly="readonly">
				</textarea>
			</div>	  
		
	
	</section>
	
</body>
</html>