<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">

<head> 
    <title>Formulario repartidor</title> 
</head>
<body>

    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   	<section layout:fragment="custom-content" class="document__content">
  		<!-- aqui escribimos todo lo que va en el contenido -->

		
		<h1 class="text-center">Registro de Repartidor</h1>
	
		<form method="post" action="#" th:action="@{/admin/procesarRepartidor}" th:object="${repartidor}" autocomplete="off">
		    <div class="form-group">
	       		<input hidden type="text" th:field="*{id}" />
		    	<input hidden type="text" th:field="*{poblacion}" />  
		    </div>
	      
		  	<div class="form-group">
	            <label>Nombre:</label>
	            <input type="text" th:field="*{nombre}" class="form-control" required/>
	
	            <label>Apellidos:</label>
	            <input type="text" th:field="*{apellidos}" class="form-control" />
	        </div>
		
		  	<div class="form-group">
	            <label>Tlf1:</label>
	            <input type="tel" th:field="*{tlf}" class="form-control" pattern="[0-9]{9}" required 
	            title="introduzca telefono valido (9 numeros)"/>
	       
	            <label>Tlf2:</label>
	            <input type="tel" th:field="*{tlf2}" class="form-control" pattern="[0-9]{9}" 
	            title="introduzca telefono valido (9 numeros)"/>
	       
	            <label>Tlf3:</label>
	            <input type="tel" th:field="*{tlf3}" class="form-control" pattern="[0-9]{9}" 
	            title="introduzca telefono valido (9 numeros)"/>
	       
	        </div>
		  
			<div class="form-group">
				<label for="poblacion">Poblacion</label>	      
				<select name="poblacion_formulario">
					<div th:switch="*{poblacion==null}">
						<div th:case="true" class="col-sm order-last">
							<option value="default">Elige poblacion</option>
						</div>
						<div th:case="false" class="col-sm order-last">
							<option value="default" th:text="*{poblacion.nombreLocalizacion}" th:value="*{poblacion.nombreLocalizacion}"></option>
						</div>
					</div>	
					<option th:each="pobla:${listaPoblaciones}"  th:value="${pobla.nombreLocalizacion}" th:text="${pobla.nombreLocalizacion}"/>
				</select>
			</div>
		  
		  	<div class="form-group">
		        <label for="direccion">Direccion</label>
		        
		        <input type="text" th:field="*{direccion}" class="form-control" id="direccion" 
		        name="direccion" title="direccion no valida" required>
		    </div>
		  
		  	<div class="form-group">
		        <label for="dni">Dni</label>
	
		   		<input type="text" th:field="*{dni}"class="form-control" name="dni" 
		   		placeholder="Introduzca su DNI" pattern="[0-9]{8}[A-Za-z]{1}"
		   		title="Debe poner 8 números y una letra" required/>
		    </div>
		    
		    <!-- Para hacer el pattern del gmail (con idea para hacer, de visual si esta validado)
		    	https://elcssar.com/html5/input-type-email-regex-pattern
		     -->
		    <div class="form-group">
		        <label for="direccion">Gmail</label>
		        
		        <input type="text" th:field="*{gmail}" class="form-control" id="gmail" 
		        name="gmail" title="gmail no valido" pattern="[a-zA-Z0-9!#$%&'*_+-]([\.]?[a-zA-Z0-9!#$%&'*_+-])+@[a-zA-Z0-9]([^@&%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?" required>
		    </div>
		  
		  
		  	<div th:switch="*{user==null}">
		 			<div th:case="true" class="col-sm order-last">
 					   	<div class="form-group">
					        <label for="username">Username</label>
					        <input type="text" class="form-control" id="username" name="username" autocomplete="new-password" required
					               placeholder="Enter username">
					    </div>
		 			</div>
		 			<div th:case="false" class="col-sm order-last">
			 		   	<div class="form-group">
					        <label for="username">Username</label>
					        <input type="text" th:value="*{user.username}" class="form-control" id="username" name="username" autocomplete="new-password" required
					               placeholder="Enter username">
					    </div>
					    
		 			</div>
	 		</div>
	 		
	 		<div class="form-group">
        		<label for="password">Password</label>
        		<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required
               	autocomplete="new-password">
   			</div>
	
		   	<button type="submit" class="btn btn-primary " name="action"  value="registro_repartidor">Registrar Repartidor</button>
		
		</form>
		<form method="get" action="#" th:action="@{/admin/consultarRepartidores}" autocomplete="off">
			<button type="submit" class="btn btn-primary " name="action"  value="exit">Exit</button>
		</form>


		
	</section>


</body>


</html>
