<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Assets/Archivos/normalize.css">

    <title>Social proof section</title>

</head>

<body>

<h1>My First Google Map</h1>




<div class="container-fluid">
  <!-- BARRA NAVEGACIÓN -->
  <div class="bg-light">
  <nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">REPARTIDORES X</a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div id="MenuNavegacion" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a class="nav-link active" href="#">Trabajadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Clientes</a>
        </li>
        
       
        <li class="nav-item">
            <a class="nav-link" href="#">Incidentes</a>
        </li>
<!-- 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Opciones de soporte
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Manuales</a></li>
              <li><a class="dropdown-item" href="#">Base de conocimientos</a></li>
              <li><a class="dropdown-item" href="#">Contacta con nosotros</a></li>
            </ul>
        </li>
-->        
      </ul>

      <ul class="navbar-nav ms-3">
        <li class="nav-item">
            <a class="nav-link text-nowrap" style="background-color:rgb(255, 0, 0);" href="#">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


<!-- 


<br>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script src="/js/map_script.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZTmBlVZqN89ln9oEiAdl8R2oSgTXnIM&callback=myMap"></script>
 -->



</body>


<footer>
  <div class="row justify-content-center mt-4">
    <div class="col-10 col-md-6 col-lg-4 text-center">
    
      <a class="text-decoration-none" target="_blank" href="https://www.campusmvp.es/catalogo/Product-Interfaces-web-responsive-con-HTML5,-Flexbox,-CSS-Grid-y-Bootstrap_212.aspx">👉🏻 Aprende a fondo a crear interfaces Web responsive con HTML5, CSS Grid, Flexbox y Bootstrap</a>
      
      <br>
      
      <a href="https://www.youtube.com/watch?v=TbaQ42y8moc"> Link al video correspondiente</a>
    </div>
  </div>

</footer>

</html>
