<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
   <!-- Esta linea es para que el contenido se escale correctamente en cada dispositivo -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 
	<link rel="stylesheet" type="text/css" href="#" th:href="@{css/zzz_commons/normalize.css}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
</head>
<body>

</body>
</html>