:root{
    --padding:1rem;
}

.retoque-tabla{
	width:80vw;
	padding-top:var(--padding);
	padding-bottom:var(--padding);
	overflow: scroll;
}


@media(min-width:1000px){
	.retoque-tabla{
	width:100%;
	overflow: auto;
}
}