<!doctype html>
<th:block th:insert="~{fragments/components :: html}"></th:block>
<head>

	<!-- 
		Uso de fragmentos para no tener que poner la cabecera todas la veces
		el codigo esta en templates/fragments/components.html
	 -->
   	<th:block th:insert="~{aaa_fragments/components :: head}"></th:block>
	<title>Register a new client</title>

</head>
	
<body class="container mt-5">
<h1 class="text-center">Registro de clientes</h1>

	<form method="post" action="#" th:action="@{/register2/procesar}" th:object="${cliente}" autocomplete="off">
	    <div class="form-group">
       		<input hidden="true" type="text" th:field="*{id}" />
	       	<input hidden="true" type="text" th:field="*{color_puntero}" />
	       	<input hidden="true" type="text" th:field="*{coordenadasLatitud}" />
	       	<input hidden="true" type="text" th:field="*{coordenadasLongitud}" />
	    	<input hidden="true" type="text" th:field="*{poblacion}" />  
	    </div>
      
	  	<div class="form-group">
            <label>Nombre:</label>
            <input type="text" th:field="*{apellidos_cliente}" class="form-control" required/>

            <label>Apellidos:</label>
            <input type="text" th:field="*{nombre_cliente}" class="form-control" />
        </div>
	
	  	<div class="form-group">
            <label>Tlf1:</label>
            <input type="tel" th:field="*{tlf1_cliente}" class="form-control" pattern="[0-9]{9}" required 
            title="introduzca telefono valido (9 numeros)"/>
       
            <label>Tlf2:</label>
            <input type="tel" th:field="*{tlf2_cliente}" class="form-control" pattern="[0-9]{9}" 
            title="introduzca telefono valido (9 numeros)"/>
       
            <label>Tlf3:</label>
            <input type="tel" th:field="*{tlf3_cliente}" class="form-control" pattern="[0-9]{9}" 
            title="introduzca telefono valido (9 numeros)"/>
       
        </div>
	  
	  <div class="form-group">
	  	 <label for="poblacion">Poblacion</label>
	      
	     <select for="poblacion_formulario" name="poblacion_formulario">

      		<option value="default">Selecciona poblacion</option>
    		<option th:each="pobla: ${listaPoblaciones}" 
    		th:value="${pobla.nombreLocalizacion}"
    		th:text="${pobla.nombreLocalizacion}"/>
        
        </select>
	      
	  </div>
	  
	  	<div class="form-group">
	        <label for="direccion">Direccion</label>
	        
	        <input type="text" th:field="*{direccion}" class="form-control" id="direccion" 
	        name="direccion" title="direccion no valida" required>
	    </div>
	  
	  	<div class="form-group">
	        <label for="dni">Dni</label>

	   		<input type="text" th:field="*{dni}"class="form-control" name="dni" 
	   		placeholder="Introduzca su DNI" pattern="[0-9]{8}[A-Za-z]{1}"
	   		title="Debe poner 8 números y una letra" required/>
	    </div>
	  
	   <div class="form-group">
	        <label for="username">Username</label>
	        <input type="text" class="form-control" id="username" name="username" autocomplete="new-password" required
	               placeholder="Enter username">
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required
	               autocomplete="new-password">
	    </div>
	
	    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register"/>
	</form>

	
</body>
</html>