<!doctype html>
<th:block th:insert="~{aaa_fragments/components :: html}"></th:block>
<head>

	<!-- Uso de fragmentos para no tener que poner la cabecera todas la veces
		el codigo esta en templates/fragments/components.html
	 -->
   	<th:block th:insert="~{aaa_fragments/components :: head}"></th:block>
	<title>Register a new user</title>

</head>
	
<body class="container mt-5">
<h1 class="text-center">Register</h1>
	<form action="/register/procesar"  autocomplete="off" method="post">
	       <div class="form-group">
	        <label for="username">Username</label>
	        <input type="text" class="form-control" id="username" name="username" autocomplete="new-password" required
	               placeholder="Enter username">
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required
	               autocomplete="new-password">
	    </div>
	
	    <button type="submit" class="btn btn-primary btn-block btn-lg" name="action"  value="registro_credenciales">Registro credenciales</button>
		<button type="submit" class="btn btn-primary btn-block btn-lg" name="action"  value="exit">Exit</button>
	</form>

</body>
</html>