@charset "UTF-8";

nav , footer {
	width: 100%;
	display: table;
	text-align: right;
	background-color: aliceblue;
}

.error {
	color: orange;
}

.campoDeFormulario {
	margin: 15px;
}

input {
	width: 250px;
	padding: 10px;
	border-radius: 10px;
}

.botonDeFormulario {
    min-width: 100px;
    min-height: 50px;
	margin: 30px;
}