<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/clientes/layout_cliente">

<head> 
    <title>Entrada</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/css/clientes/entrada_styles.css}">
 	
 	
</head>
<body>
    <p th:text="'EL CLIENTE se queja desde esta ventana'" />
    
    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  		<!-- aqui escribimos todo lo que va en el contenido -->
  	<div class="actions__buttons">

                <div>
                    <a id="realizar_pedido" class="btn btn-info" href="/cliente/pedido"> Realizar Pedido</a>
                </div>

            </div>

            <div class="contenido__pedidos">
                <h2>Pedidos Realizados</h2>

                <table class="tabla__pedidos">
                    <thead class="tabla__info">
                        <tr>
                            <td>N.Pedido</td>
                            <td>Repartidor</td>
                            <td>Estado</td>
                            <td ></td>
                            <td class="acciones"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pedido">
                            <td>
                                1
                            </td>
                            <td>
                                Repartidor X
                            </td>
                            <td>
                                Repartiendose
                            </td>
                                <td class="">
                                    <a class="btn btn-info" href="">Ver</a>
                                </td>
                                <td class="acciones">
                                    <a class="btn btn-info" href="">Queja</a>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>